/* Global styles */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1, h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  strong {
    font-weight: bold;
    color: #666;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #23527c;
  }
  
  /* Restaurant details styles */
  
  .restaurant-details {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .restaurant-image {
    width: 400px;
    height: 250px;
    margin: 20px auto;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .restaurant-info {
    margin-top: 20px;
  }
  
  .restaurant-info p {
    margin-bottom: 10px;
  }
  
  .restaurant-categories,
  .restaurant-transactions {
    margin-top: 20px;
  }
  
  .restaurant-categories ul,
  .restaurant-transactions ul {
    margin-top: 10px;
  }
  
  .restaurant-menu {
    margin-top: 20px;
  }
  
  .restaurant-menu a {
    font-size: 16px;
    font-weight: bold;
    color: #337ab7;
  }
  
  .restaurant-contact {
    margin-top: 20px;
  }
  
  .restaurant-contact p {
    margin-bottom: 10px;
  }
  
  .restaurant-contact a {
    font-size: 16px;
    font-weight: bold;
    color: #337ab7;
  }

  .star {
    color: #ffd700; 
    font-size: 16px;
  }
  
  .star.empty {
    color: #ccc; 
  }
/* Review form styles */
.form-group {
  margin-bottom: 20px;
}

.form-control {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 25px;
  width: 250px;
}

.btn-primary {
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #23527c;
}

/* Review list styles */
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.review {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.review-author {
  font-size: 14px;
  color: #666;
}

.review-comment {
  font-size: 16px;
  margin-bottom: 10px;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* Change submit button color to black */
input[type="submit"] {
  background-color: #000; /* Black color */
  border: none;
  color: #fff; /* White text color */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.delete-button {
  background-color: #000!important; /* Black color */
  border: none;
  color: #fff; /* White text color */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}