{% extends "auth_base.html" %}

{% block title %}Sign Up{% endblock %}

{% block form_content %}
<div class="auth-container">
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" class="home-image">
    </div>
    <div>
        <form method="POST" class="auth-box">
            <h1>Join Delux</h1>
            <p class="text-muted">Je mange, tu manges</p>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="firstName" placeholder="First Name" required>
            <input type="password" name="password1" placeholder="Password" required>
            <input type="password" name="password2" placeholder="Confirm Password" required>
            <input type="submit" value="Sign Up">
            <p class="text-muted">Already have an account? <a href="{{ url_for('auth.login') }}">Log In</a></p>
        </form>
    </div>
</div>
{% endblock %}
